@page
@model ShelterRazor.Pages.DetailedPetModel
@{
    <style>
        .title {
            margin-top: 70px;
            margin-bottom: 15px;
            text-align: center;
        }
    </style>
    <h1 class="title">Detailed Pet</h1>
}
